## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [2]:
lista = ["Madrid" , "Tokyo","Berlin","Sao paulo","Cancun"]

2) Imprimir por pantalla el segundo elemento de la lista

In [2]:
print(lista[1])

Tokyo

3) Imprimir por pantalla del segundo al cuarto elemento

In [3]:
print(lista[1:5])

['Tokyo', 'Berlin', 'Sao paulo', 'Cancun']

4) Visualizar el tipo de dato de la lista

In [4]:
type(lista)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [5]:
print(lista[2:])

['Berlin', 'Sao paulo', 'Cancun']

6) Visualizar los primeros 4 elementos de la lista

In [7]:
print(lista[:4])

['Madrid', 'Tokyo', 'Berlin', 'Sao paulo']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [5]:
lista.append("Tokyo")
lista.append (-2)

print(lista)

['Madrid', 'Tokyo', 'Berlin', 'Sao paulo', 'Cancun', 'Tokyo', 2, 'Tokyo', -2, 'Tokyo', -2]

8) Agregar otra ciudad, pero en la cuarta posición

In [13]:
lista.insert(2,"CDMX")
print(lista)

['Madrid', 'Tokyo', 'CDMX', 'CDMX', 'Berlin', 'Sao paulo', 'Cancun', 'Paris', 'Hong kong', 'Tokyo', 'Hong kong']

9) Concatenar otra lista a la ya creada

In [21]:
lista.extend(["Londres","Moscu","New york"])
print(lista)

['Madrid', 'Tokyo', 'CDMX', 'CDMX', 'Berlin', 'Sao paulo', 'Cancun', 'Paris', 'Hong kong', 'Tokyo', 'Hong kong', 'Londres', 'Moscu', 'New york', 'Londres', 'Moscu', 'New york', 'Londres', 'Moscu', 'New york', 'Londres', 'Moscu', 'New york', 'Londres', 'Moscu', 'New york', 'Londres', 'Moscu', 'New york', 'Londres', 'Moscu', 'New york', 'Londres', 'Moscu', 'New york']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [22]:
lista.index("Tokyo")

1

11) ¿Qué pasa si se busca un elemento que no existe?

In [23]:
lista.index("San Diego")

ValueError: 'San Diego' is not in list

12) Eliminar un elemento de la lista

In [26]:
lista.remove("CDMX")
print(lista)

['Madrid', 'Tokyo', 'Berlin', 'Sao paulo', 'Cancun', 'Paris', 'Hong kong', 'Tokyo', 'Hong kong', 'Londres', 'Moscu', 'New york', 'Londres', 'Moscu', 'New york', 'Londres', 'Moscu', 'New york', 'Londres', 'Moscu', 'New york', 'Londres', 'Moscu', 'New york', 'Londres', 'Moscu', 'New york', 'Londres', 'Moscu', 'New york', 'Londres', 'Moscu', 'New york']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [27]:
lista.remove("CDMX")
print(lista)

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [28]:
var = lista.pop()
print(var)

New york

15) Mostrar la lista multiplicada por 4

In [29]:
lista *  4

['Madrid',
 'Tokyo',
 'Berlin',
 'Sao paulo',
 'Cancun',
 'Paris',
 'Hong kong',
 'Tokyo',
 'Hong kong',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'Madrid',
 'Tokyo',
 'Berlin',
 'Sao paulo',
 'Cancun',
 'Paris',
 'Hong kong',
 'Tokyo',
 'Hong kong',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'Madrid',
 'Tokyo',
 'Berlin',
 'Sao paulo',
 'Cancun',
 'Paris',
 'Hong kong',
 'Tokyo',
 'Hong kong',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'Madrid',
 'Tokyo',
 'Berlin',
 'Sao paulo',
 'Cancun',
 'Paris',
 'Hong kong',
 'Tokyo',
 'Hong kong',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [38]:
tupla = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [42]:
print(tupla[10:16])

(10, 11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [43]:
20 in tupla
30 in tupla

False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [49]:
type(lista)
lista.remove("Paris")

if("Paris" in lista):
    print("Paris ya esta en la lista")
else:
    lista.append("Paris")
    print("Se agrego Paris exitosamente")

Se agrego Paris exitosamente

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [51]:
print(tupla.count(10))
print(lista.count("Moscu"))

1
8

21) Convertir la tupla en una lista

In [53]:
tupla2=list(tupla)
type(tupla2)

list

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [58]:
a , b , c = tupla[:3]
print (a)
print(b)
print(c)

0
1
2

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [59]:
diccionario = {'Ciudad':lista , 'Pais':"Mexico","Continente":"Asia"}
print(diccionario)

{'Ciudad': ['Madrid', 'Tokyo', 'Berlin', 'Sao paulo', 'Cancun', 'Hong kong', 'Tokyo', 'Hong kong', 'Londres', 'Moscu', 'New york', 'Londres', 'Moscu', 'New york', 'Londres', 'Moscu', 'New york', 'Londres', 'Moscu', 'New york', 'Londres', 'Moscu', 'New york', 'Londres', 'Moscu', 'New york', 'Londres', 'Moscu', 'New york', 'Londres', 'Moscu', 'Paris'], 'Pais': 'Mexico', 'Continente': 'Asia'}

24) Imprimir las claves del diccionario

In [60]:
print(diccionario.keys())

dict_keys(['Ciudad', 'Pais', 'Continente'])

25) Imprimir las ciudades a través de su clave

In [62]:
diccionario['Ciudad']

['Madrid',
 'Tokyo',
 'Berlin',
 'Sao paulo',
 'Cancun',
 'Hong kong',
 'Tokyo',
 'Hong kong',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'New york',
 'Londres',
 'Moscu',
 'Paris']